<div class="row">
  <div class ="col-md-12">
    <h2><%= @portfolio.title %></h2>
    <div>
      Content: <%= @portfolio.content %>
    </div>
    <div>
      Name: <%= @portfolio.name %>
    </div>
    
    <hr>
    
    <div>
      <h3>User</h3>
      <table class="table table-striped">
        <% if @portfolio.users.any? %>
         <thead class ="thead-light">
          <tr>User</tr>
          <tr>Name</tr>
          <td>Menu</td>
        </thead>
      <% @portfolio.users.each do |user| %>
        <tr>
          <td>
            <%= user.content %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            [<%= link_to 'Edit' , edit_portfolio_user_path(@portfolio, user) %>]
            [<%= link_to 'Delete' , portfolio_user_path(@portfolio, user) , method: :delete , data:{ confirm: 'Are you sure?'} %>]
          </td>
        </tr>
        <% end %>
      <% else %>
        <P>No answer yet</P>
      <% end %>
      </table>
      
    </div>
 
    <h3>Post new User</h3>
    
    <%= form_with model: [@portfolio,@user], local: true do |f| %>
    <%= f.hidden_field :portfolio_id, { value: @portfolio.id} %>
    <div class ="form-group">
      <label>name</label>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class ="form-group">
      <label>Content</label>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class ="text-center">
      <%= f.submit "Post" , class: 'btn btn-primary' %>
    </div>
    <% end %>

    <div>
      <%= link_to '> home' , root_path %>
    </div>
  </div>
</div>s